<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
  <title>Mini Test 2</title>
</head>
<body>
<h3>Update Category</h3>
<p>
  <a th:href="@{/categories}">
    Back to category list
  </a>
</p>
<div id="form">
  <form th:action="@{/categories/update/{id}(id=${category.getId()})}" th:object="${category}"
        method="POST" novalidate="novalidate">
    <input type="hidden" th:field="*{id}"/>
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" th:field="*{name}"/>
    </div>
    <div>
      <label for="description">Description</label>
      <input type="text" id="description" th:field="*{description}"/>
    </div>
    <input type="submit" value="Save"/>
  </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>